<br />
<br />
<div class="col-xs-8 col-xs-offset-2">
  <h1 class="text-center">Thank You for your message!</h1>
  <hr class="center-block">
  <p class="text-center">I'll get back to you soon.</p>
</div>