html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.clr {
  clear:both;
}

.notice, .alert {
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif !important;
}

body {
  font-family: 'Lato', sans-serif !important;
}

.navbar {
  // something about box shadow
  z-index:1; //or a bigger integer
  background-color: #1abc9c !important;
  height: 60px;
  padding: 5px;
}

.navbar.navbar-inverse {
  border-radius: 0;
}

@media (min-width: 768px) { .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
} }

@media (max-width: 768px) { .navbar-brand {
  visibility: hidden;
}}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 38px !important;
  float: left !important;
  color: white !important;
  padding: 0 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-nav li a {
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: white !important;
  font-family: 'Lato', sans-serif !important;
}

@media (max-width: 768px) { .navbar-nav li a {
  color: #bebdbd !important;
  text-decoration: none !important;
}}

@media (min-width: 768px) { .navbar-nav li a {
  background: transparent !important;
}}

.post-date {
  color: #bebdbd !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 2em;
}

.post-title {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-content {
  line-height: 28px;
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 16px;
}

p {
  display: block;
  font-size: 1.1em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

hr {
  width: 3em;
  display: block;
  border: 1px solid #bebdbd !important;
  margin: 2rem 0;
  padding: 0;
}

.share-box {
  text-align: center !important;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8em;
  }
  i {
    padding: 1em 1.5em;
    &:hover {
      cursor: pointer;
    }
  }
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #1abc9c !important;
  border-color: #285e8e;
}

#admin_links {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a {
    color: #bebdbd;
    margin: 0 1em;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.disqus {
  margin: 100px 0;
}